* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #171100;
  --background-color: #fffcf4;
  --white-color: #fff;
  --font-heading: Sen, sans-serif;
  --second-text-color: #5f5b53;
}

/* Đổi đơn vị px sang rem */
html {
  font-size: 62.5%;
}
body {
  /* 16 px */
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/* Common CSS */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  width: 144px;
  /* height: 50px; */
  line-height: 50px;
  background: var(--primary-text-color);
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
}

/* Header sction */
.header {
  background-color: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}

.main-content {
  width: 1170px;
  /* border: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100%-16px);
}

.header .body {
  display: flex;
  align-items: center;
}

.header nav {
  display: flex;
  margin-left: auto;
}

.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}

.header nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: var(--primary-text-color);
}

.header nav a.active {
  font-weight: 600;
  color: var(--primary-text-color);
  position: relative;
}

.header nav a.active:after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}

.header .body .btn-signup {
  margin-left: 49px;
}

.header .body .btn-signup:hover {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8),
    0 0 24px rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
  transition: 0.25s ease;
}

/* Hero sction */
.hero {
  background-color: var(--background-color);
}

.hero .main-content {
  display: flex;
}

.hero .left-bx {
  width: 48.7%;
  position: relative;
}

.hero .left-bx > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.hero .left-bx .sumnary {
  width: 270px;
  height: 244px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 24px;
  position: absolute;
  right: 0;
  bottom: 100px;
}

.hero .left-bx .item {
  display: flex;
  margin: 7px 0; /* top-bottom: 7px & left-right: 0 */
  align-items: center;
}

.hero .left-bx .item:first-child {
  margin-top: 0;
}

.hero .left-bx .item:last-child {
  margin-bottom: 0;
}

.hero .left-bx span {
  display: block;
}

.hero .left-bx .icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.hero .left-bx .course-content span:first-child {
  font-size: 1.4rem;
  line-height: 26px;
}

.hero .left-bx .course-content span:last-child {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}

.hero .right-bx {
  width: 51.3%;
  padding-left: 116px;
}

.hero .right-bx h1 {
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  width: 488px;
  letter-spacing: 2%;
  line-height: 68px;
}

.hero .right-bx .desc {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
  margin-top: 28px;
  margin-bottom: 38px;
}

.hero .right-bx .call-to-action {
  display: flex;
}

.hero .right-bx .btn-see-courses {
  width: 180px;
  background-color: #ffb900;
  line-height: 64px;
  height: 64px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.hero .right-bx .btn-watch-video {
  background: none;
  border: none;
  align-items: center;
  margin-left: 28px;
  display: flex;
}
.hero .right-bx .btn-watch-video span {
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 600;
  margin-top: -10px;
}

.hero .right-bx .end {
  margin-top: 48px;
}

.hero .right-bx .recent-engagement {
  font-size: 1.8rem;
  color: var(--second-text-color);
  line-height: 30px;
}
.hero .right-bx .stats {
  display: flex;
  margin-top: 8px;
}

.right-bx .stats .item {
  margin-right: 29px;
}

.right-bx .stats strong {
  font-family: var(--font-heading);
  color: var(--primary-text-color);
  font-size: 4.4rem;
  line-height: 54px;
  font-weight: bold;
}

.right-bx .stats span {
  font-size: 1.8rem;
  color: var(--second-text-color);
  line-height: 30px;
  margin-left: 10px;
}
