* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #171100;
  --background-color: #fffcf4;
  --white-color: #fff;
}

/* Đổi đơn vị px sang rem */
html {
  font-size: 62.5%;
}
body {
  /* 16 px */
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/* Common CSS */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Start Header */
.header {
  background-color: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}

.header .main-conten {
  width: 1170px;
  /* border: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100%-16px);
}

.header .body {
  display: flex;
  align-items: center;
}

.header nav {
  display: flex;
  margin-left: auto;
}

.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}

.header nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: var(--primary-text-color);
}

.header nav a.active {
  font-weight: 600;
  color: var(--primary-text-color);
  position: relative;
}

.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}

.header .body .btn-signup {
  width: 144px;
  /* height: 50px; */
  line-height: 50px;
  background: var(--primary-text-color);
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
  margin-left: 49px;
}
/* End Header */
